@model EFGetStarted.AspNetCore.NewDb.Models.Message

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MessageText" class="control-label"></label>
                <input asp-for="MessageText" id="messageInput" class="form-control" />
                <span asp-validation-for="MessageText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SentFrom" class="control-label"></label>
                <span asp-validation-for="SentFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" id="pleaseWork" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/chat.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
