<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/db9196a8-e704-49c2-baa0-b8cd0ac39508/resourceGroups/ThreeAmigosMessaging/providers/Microsoft.Web/sites/ThreeAmigosMessaging</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://threeamigosmessaging.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>threeamigosmessaging.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ThreeAmigosMessaging</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ThreeAmigosMessaging</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>